body {
    font-family: Junction;
}

.navigation {
    width: auto;
    height: 61.2px;
    background-color: #2DABEF;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
    color: white;
    margin-left: 20px;
}
.logo {
    width: 8%;
}

.logoImg {
    width: 130px;
    height: 61px;
}

.nav {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 400px;
    padding: none;
}   

.content {
    width: 700px;
    margin: 0 auto;
    padding: none;
}

.footer {
    background-color: #2DABEF;
    width: auto;
    height: 100px;
    padding: none;
}

.fullname { 
    font-size: 128px;
    font-family: 'Carattere', cursive;
    margin-block-end: 0;
    margin-block-start: 80px;
    text-align: center;
}

.ul {
    display: inline-block;
    vertical-align: middle;
}

.resume {
    height: 30px;
    color: white;
    text-align: center;
    background-color: #2DABEF;
    border: none;
    border-radius: 10px;
    font-family: Junction;
    margin-left: 300px;
}

.bottomlogo {
    width: 200px;
    height: 100px;
}

.aboutme {
    text-align: center;
}

.footercontact {
    color: white;
    width: 400px;
    display: inline-block;
    text-align: right;
    list-style: none;
    vertical-align: middle;
    margin-left: 870px;
}

.icons {
    display: inline;
    vertical-align:middle;
    padding-left: 800px;
}

.myskills {
    text-align: center;
    
}

.skillslist {
    display: inline-block;
    list-style: none;
    line-height: 25px;
}

.list1 {
    text-align:left;
    width: 40%;
}

.list2 {
    text-align: right;
    width: 40%;
}

.workgrid {
    display: inline-block;
    width: 450px
}

.text {
    vertical-align: top;
    padding-top: 100px;
    margin-left: 250px;
    text-align: center;
    
}

.mywork {
    text-align: center;
}

.njhealth {
    width: 450px; 
    margin-left: 150px;
    padding-bottom: 50px;
    max-width: 100%;
}

.afa {
    width: 450px; 
    margin-left: 150px;
    padding-bottom: 50px;
    max-width: 100%;
}

.travelapp {
    width: 450px; 
    margin-left: 150px;
    padding-bottom: 50px;
    max-width: 100%;
}

.viewproject {
    height: 30px;
    color: white;
    text-align: center;
    background-color: #2DABEF;
    border: none;
    border-radius: 10px;
    font-family: Junction;

}

.viewall {
    background-color: #2DABEF;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: Junction;
    height: 60px;
    width: 70%;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 200px;
}

.passion {
    height: 150px;
    width: 150px;
    margin-right: 70px;
    background-color: #2DABEF;
    border: none;
    color: white;
    font-size: medium;
}

.passionbuttons {
text-align: center;
font-family: Junction;
margin-bottom: 50px;
margin-left: 60px;
}

.mypassions {
    text-align: center;
}

.mycontact {
    text-align: center;

}

.contacticons {
    text-align: center;
}


@media only screen and (max-width: 768px)
